extends layout/common
block header
    .container-grid.container-image-grid
        .content-image
            h1 
                |"The world is quiet here" 
                sub - Lemony Snicket
    .dropdown
 
            