//- extends ../layout/common
//- block header
    //- .container-grid.container-header-grid
    //-     .container.container-header
    //-         .header-logo
    //-             img(src="/image/logo.png", alt="logo" width="200px")
    //-         .header-menu
    //-             ul.menu-main
    //-                 li.menu-main-active
    //-                     a(href="/") Home
    //-                 li
    //-                     a(href="/") Books
    //-                 li
    //-                     a(href="/") Library
    //-                 li
    //-                     a(href="/") Blog            
    //-         .header-search
    //-             form.form-inline.my-2.my-lg-0
    //-                 input.form-control.mr-sm-2(type="search" placeholder="Search")
    //-                 button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search
                